  ----------------
  **QA Reports**
  ----------------

The **QA Reports** tool generates reports from call records stored in
the cases archive.  It is accessed from the [Premier ResponderSupervisor](<911Adviser Supervisor.md>) main window with the **Tools -
QA Reports** menu item.  From the QA Reports screen, reports can be
configured, stored, recalled, and a PDF document containing resulting
charts and statistics generated.

<figure><img src=".gitbook/assets/QA Reports_files/image001.png" alt=""><figcaption></figcaption></figure> 

# Saving & Printing

The **Print** button is enabled after making a selection in the
**Results** list and a chart is being displayed.  Selecting the button
opens a preview window from which the chart can be printed.  The
**Save** button is enabled with one or more entries checked in the
**Results** list. Selecting it opens a dialog window from which to save
a PDF document containing charts of each checked item as well as the
**Stats** table.
