  ----------------
  **QA Reports**
  ----------------

The **QA Reports** tool generates reports from call records stored in
the cases archive.  It is accessed from the [Premier Responder
Supervisor](911Adviser%20Supervisor.htm) main window with the **Tools -
QA Reports** menu item.  From the QA Reports screen, reports can be
configured, stored, recalled, and a PDF document containing resulting
charts and statistics generated.

<figure><img src=".gitbook/assets/QA Reports_files/image001.png" alt=""><figcaption></figcaption></figure>{border="0" width="639"
height="400"}

# Reporting Period

By default, the **QA Reports** screen opens showing calls for the *past
6 months*.  The report period can be changed on the main toolbar by
making another selection in the **Time Span** drop down or by setting
the **from** and **to** dates.  Making a selection in the drop down
automatically sets both dates.  Changing either date sets the drop down
selection to *other*.

# Statistics Table

Cases that fall within the given time period can be subdivided by call
type, chief complaint, or dispatcher by making a selection in the
**Arrange By** drop down.  Subsets appear in the **Results** list upon
making a selection in the drop down.  Each entry in the **Results** list
includes a checkbox which, when checked, adds related statistics to the
table on the **Stats** tab.

<figure><img src=".gitbook/assets/QA Reports_files/image002.png" alt=""><figcaption></figcaption></figure>{border="0" width="639"
height="400"}

# Statistical Charts

The graphic on the **Chart** tab is generated for the selected subset of
cases from data indicated by the checked **Source** menu item.** **
Among the available data sources are *Calls Taken*, *Average Length*,
*Calls Dispatched*, *Average Time*, *[Graded Calls](Case%20Eval.htm)*,
*Average Grade*, [Scored
Calls](Call%20Scoring%20Settings.htm){style="font-style: italic"}, and
*Average Score*.  The checked source item appears at the top right of
the chart.

<figure><img src=".gitbook/assets/QA Reports_files/image003.png" alt=""><figcaption></figcaption></figure>{border="0" width="639"
height="400"}

# Charting Options

Accessible from the **Chart Settings** button are **Type** and
**Interval** menu options.  The **Type** menu selections change the
graphical presentation and includes the following selections: *Area
Chart*, *Bar Chart*, *Column Chart*, *Line Chart*, *Point Chart*, and
*Spline Chart*.  From the **Interval** menu, the number of sampling
points can be changed using the *Years*, *Months*, and *Days*
selections.

# Stored Reports

After the desired results are obtained, the report configuration can be
saved by entering a unique title in the **Report** combo box and
selecting the **Keep Report** button on the lower toolbar.  To load a
saved report, select it in the combo drop down list.  When no longer
needed, a report can be deleted with the **Discard Report** button after
it has been loaded.

<figure><img src=".gitbook/assets/QA Reports_files/image004.png" alt=""><figcaption></figcaption></figure>{border="0" width="639"
height="400"}

# Saving & Printing

The **Print** button is enabled after making a selection in the
**Results** list and a chart is being displayed.  Selecting the button
opens a preview window from which the chart can be printed.  The
**Save** button is enabled with one or more entries checked in the
**Results** list. Selecting it opens a dialog window from which to save
a PDF document containing charts of each checked item as well as the
**Stats** table.
